.row
  .col-lg-7
    h3 Google Maps
    p This is where we'd talk about Google Maps
    a.btn.btn-primary(href='https://developers.google.com/maps/') Company Site
    p
    img.img-rounded(src='/images/googlemaps.png')
    p
    a.btn.btn-default(href='/') &laquo; Back
    
  .col-lg-1
  .col-lg-4
    h2 Sidebar
    p
    | Text in a sidebar
