.row
  .col-lg-8
    h2 Here are the mapping options:
    .row
      .col-sm-6
        h4 Leaflet
        p Hello. This is text.
        img.img-rounded(src='images/leaflet.png')
        p
        a.btn.btn-default(href='/leaflet') Read More &raquo;
      .col-sm-6
        h4 Open Street Map
        p Hello. This is text.
        img.img-rounded(src='images/openstreetmap.png')
        p
        a.btn.btn-default(href='/openstreetmap') Read more &raquo;
      .col-sm-6
        h4 Google Maps
        p Hello. This is text.
        img.img-rounded(src='images/googlemaps.png')
        p
        a.btn.btn-default(href='/googlemaps') Read more &raquo;
      .col-sm-6
        h4 Open Layers
        p Hello. This is text.
        img.img-rounded(src='images/openlayers.png')
        p
        a.btn.btn-default(href='/openlayers') Read more &raquo;

  .col-lg-4
    h2 Sidebar
    p
    | Text