.row
  .col-lg-7
    h3 Leaflet
    p This is where we'd talk about leaflet
    a.btn.btn-primary(href='http://leafletjs.com') Company Site
    p
    img.img-rounded(src='/images/leaflet.png')
    p
    a.btn.btn-default(href='/') &laquo; Back
    
  .col-lg-1
  .col-lg-4
    h2 Sidebar
    p
    | Text in a sidebar
