.row
  .col-lg-7
    h3 Open Street Map
    p This is where we'd talk about Open Street Map
    a.btn.btn-primary(href='http://www.openstreetmap.org') Company Site
    p
    img.img-rounded(src='/images/openstreetmap.png')
    p
    a.btn.btn-default(href='/') &laquo; Back
    
  .col-lg-1
  .col-lg-4
    h2 Sidebar
    p
    | Text in a sidebar
